# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Virtual environments
.venv/
env/
venv/
main_env/

# VCS
.git/
.github/

# Jupyter notebooks (if not needed in image)
*.ipynb

# Data files
data/raw/
data/interim/
airflow/data/raw/

# Local artifacts
mlruns/
models/artifacts/
__pycache__/
tests/

# OS + Editor junk
.DS_Store
.idea/
.vscode/
*.swp

# Logs
*.log
