.streamlit/secrets.toml
__pycache__/
*.pyc
# Python
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Virtual Environments
venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker and Logs
*.log
*.pid
*.db
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/
